<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CredKlayton</title>
</head>
<body>

    <div th:each="banco: ${bancos}">
        <p><span th:text="${banco.nome}"></span></p>
        <img th:src="${banco.imagem}" width="10%">
        <p>Juros: <span th:text="${banco.juros}"></span></p>
        <p>Total do Emprestimo: <span th:text="${banco.totalEmprestimo}"></span></p>
        <p>Total de cada parcela: <span th:text="${banco.totalParcela}"></span></p>
    </div>

    <div>
        <a href="/simulacao"><button>Voltar</button></a>
    </div>
</body>
</html>	